#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// [경고 해결] 로그에서 중복 정의 경고를 뿜던 무의미한 #define 문크기를 과감히 제거했습니다.
// 감도 조절은 아래 &mmv 및 &msc 블록에서 완벽하게 제어됩니다.

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mmv_input_listener { input-processors = <&zip_xy_scaler 1 2>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    // 위아래 스크롤 엔코더의 매핑 순서를 뒤집어 수직 방향을 직관적으로 반전했습니다.

    scroll_vertical_encoder: scroll_vertical_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

        tap-ms = <100>;
    };

    scroll_horizontal_encoder: scroll_horizontal_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

        tap-ms = <100>;
    };

    behaviors {
        // 일반 키용 Hold-Tap

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        // 마우스 클릭용 Hold-Tap

        hm: hold_tap_mouse {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_MOUSE";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mkp>, <&mkp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        MAIN {
            bindings = <
&ht GRAVE ESC     &kp N1       &kp N2       &kp N3          &kp N4       &kp N5          &kp N6         &kp N7     &kp N8     &ht LEFT_BRACKET N9  &ht RIGHT_BRACKET N0  &ht EQUAL MINUS
&kp TAB           &kp Q        &kp W        &kp E           &kp R        &kp T           &kp Y          &kp U      &kp I      &kp O                &kp P                 &kp NON_US_BACKSLASH
&kp LEFT_CONTROL  &kp A        &kp S        &kp D           &lt 1 F      &kp G           &kp H          &lt 2 J    &kp K      &kp L                &kp SEMICOLON         &kp SQT
&kp LEFT_WIN      &ht LC(Z) Z  &ht LC(X) X  &ht LC(C) C     &ht LC(V) V  &kp B           &ht B N        &kp M      &kp COMMA  &kp PERIOD           &kp SLASH             &ht RIGHT_CONTROL RIGHT_ALT
                                            &kp LEFT_SHIFT  &kp ENTER    &kp LEFT_ALT    &kp BACKSPACE  &kp SPACE
                                                            &mkp MB1     &hm MB3 MB2     &kp DEL
            >;

            // [교정] 컴파일 에러를 유발하던 구형 trackball-bindings 구문을 제거했습니다.
            // 신버전 ZMK 코어에서는 위의 전역 리스너(&mmv_input_listener)가 자동으로 마우스 커서를 굴려줍니다.
        };

        FIFA {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7           &kp F8    &kp F9    &kp F10        &kp F11  &kp F12
&trans  &none   &none   &none   &none   &none     &kp PRINTSCREEN  &kp HOME  &kp UP    &kp PAGE_UP    &none    &none
&trans  &none   &none   &none   &none   &none     &none            &kp LEFT  &kp DOWN  &kp RIGHT      &none    &none
&trans  &none   &none   &none   &none   &none     &none            &kp END   &none     &kp PAGE_DOWN  &none    &trans
                        &trans  &trans  &trans    &trans           &trans
                                &trans  &trans    &trans
            >;

            // 원래 잘 작동하던 유저님의 가상 엔코더 스크롤 장치만 깔끔하게 남겨두었습니다.

            sensor-bindings =
                <&scroll_vertical_encoder>,
                <&scroll_horizontal_encoder>;
        };

        SETTING {
            bindings = <
&kp C_SLEEP  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR    &none  &none  &none  &none  &none  &none
&none        &none         &none         &none         &none         &none         &none  &none  &none  &none  &none  &none
&none        &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE    &none         &none         &none  &none  &none  &none  &none  &none
&none        &none         &none         &none         &none         &none         &none  &none  &none  &none  &none  &none
                                         &none         &none         &none         &none  &none
                                                       &none         &none         &none
            >;

            sensor-bindings =
                <&scroll_vertical_encoder>,
                <&scroll_horizontal_encoder>;
        };
    };
};
