#define ZMK_POINTING_DEFAULT_SCRL_VAL 50    // 기본 스크롤 속도(10)를 상향
#define ZMK_MSC_TRIGGER_PERIOD_MS 10    //신호주기 변경
#define ZMK_MSC_TIME_TO_MAX_SPEED_MS 100    //최고속도 도달 시간 변경
#define ZMK_MSC_ACCEL_EXPONENT 5    //가속도 설정 변경

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    macros {
        To1_macro: To1_macro {
            compatible = "zmk,behavior-macro";
            label = "To1_macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFF &rgb_ug RGB_COLOR_HSB(128,100,50) &to 1>;
        };

        To0_macro: To0_macro {
            compatible = "zmk,behavior-macro";
            label = "To0_macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFR &to 0>;
        };

        To2_macro: To2_macro {
            compatible = "zmk,behavior-macro";
            label = "To2_macro";
            #binding-cells = <0>;
            bindings =
                <&to 0>,
                <&macro_wait_time 30>,
                <&rgb_ug RGB_COLOR_HSB(250,100,50)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc_del {
            bindings = <&HMKP DELETE ESCAPE>;
            key-positions = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <20 21>;
        };

        lang {
            bindings = <&HMKP LG(SPACE) LANGUAGE_1>;
            key-positions = <10 12>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        minus_eaual {
            bindings = <&HMKP EQUAL MINUS>;
            key-positions = <19 18>;
        };

        slash_quest {
            bindings = <&kp SLASH>;
            key-positions = <29 28>;
        };

        backslash {
            bindings = <&kp NON_US_BACKSLASH>;
            key-positions = <19 29>;
        };

        wave {
            bindings = <&kp GRAVE>;
            key-positions = <1 2>;
        };

        win {
            bindings = <&kp LEFT_WIN>;
            key-positions = <22 21>;
        };

        bt_layer {
            bindings = <&mo 5>;
            key-positions = <24 4>;
        };

        blender_checker_select {
            bindings = <&kp LC(LS(KP_PLUS))>;
            key-positions = <28 27>;
        };

        prev_click {
            bindings = <&mkp MB4>;
            key-positions = <16 17>;
        };

        lclk {
            bindings = <&mkp LCLK>;
            key-positions = <11 12>;
        };

        rclk {
            bindings = <&mkp RCLK>;
            key-positions = <13 12>;
        };

        scrl_up {
            bindings = <&msc SCRL_UP>;
            key-positions = <2 3>;
        };

        scrl_down {
            bindings = <&msc SCRL_DOWN>;
            key-positions = <23 22>;
        };

        pg_up {
            bindings = <&kp PAGE_UP>;
            key-positions = <6 7>;
        };

        pg_dn {
            bindings = <&kp PAGE_DOWN>;
            key-positions = <26 27>;
        };

        mclk {
            bindings = <&mkp MCLK>;
            key-positions = <14 15>;
        };

        home_end {
            bindings = <&HMKP END HOME>;
            key-positions = <32 33>;
        };
    };

    behaviors {
        HML: HMrow_Layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_Layer";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
        };

        HMKP: HMrow_KP {
            compatible = "zmk,behavior-hold-tap";
            label = "Homerow_kp";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base_Layer {
            bindings = <
&HMKP KP_NUMBER_1 Q  &kp W          &HMKP KP_NUMBER_3 E  &kp R          &HMKP PRINTSCREEN T    &kp Y      &HMKP KP_NUMBER_7 U  &kp I      &kp O    &HMKP KP_NUMBER_0 P
&kp A                &kp S          &kp D                &HML 3 F       &HML 4 G               &kp H      &kp J                &kp K      &kp L    &HMKP SEMICOLON SQT
&HMKP LC(Z) Z        &HMKP LC(X) X  &HMKP LC(C) C        &HMKP LC(V) V  &kp B                  &kp N      &kp M                &kp COMMA  &kp DOT  &kp ENTER
                                    &kp LCTRL            &kp LEFT_ALT   &kp LEFT_SHIFT         &kp SPACE  &mo 1
            >;

            label = "Base";
        };

        Num_Layer {
            bindings = <
&bootloader  &kp N7  &kp N8  &kp N9  &trans         &kp F11  &kp F12  &trans  &trans  &bootloader
&kp MINUS    &kp N4  &kp N5  &kp N6  &trans         &kp F6   &kp F7   &kp F8  &kp F9  &kp F10
&kp N0       &kp N1  &kp N2  &kp N3  &kp KP_PLUS    &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
                     &trans  &trans  &trans         &trans   &trans
            >;

            label = "Num";
        };

        Mouse_Layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &mkp LCLK  &mkp RCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans     &trans  &trans
                &trans  &trans  &trans    &trans  &trans
            >;

            label = "Mouse";
        };

        Scroll_Layer {
            bindings = <
&trans    &kp UP    &trans     &trans  &trans    &trans  &trans  &trans  &trans  &trans
&kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans    &trans    &trans     &trans  &trans    &trans  &trans  &trans  &trans  &trans
                    &trans     &trans  &trans    &trans  &trans
            >;

            label = "Scroll";
        };

        Snipe_Layer {
            bindings = <
&trans    &kp UP    &trans     &trans  &trans    &trans    &trans    &trans     &trans  &trans
&kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans    &trans    &kp UP    &trans     &trans  &trans
&trans    &trans    &trans     &trans  &trans    &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
                    &trans     &trans  &trans    &trans    &trans
            >;

            label = "Snipe";
        };

        BT_Layer {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans        &trans        &bt BT_CLR    &trans  &trans    &trans  &trans  &trans  &trans  &trans
                            &trans        &trans  &trans    &trans  &trans
            >;

            label = "BT";
        };

        /* layer_2 {
            bindings = <
&none  &none   &none    &none   &none         &none         &kp N1         &none         &none     &none  &none   &to 0
&none  &none   &none    &none   &none         &none         &none         &none          &rgb_ug RGB_BRD &rgb_ug RGB_BRI  &rgb_ug RGB_EFF   &rgb_ug RGB_TOG
&none  &none   &none    &none   &none         &none         &none         &mkp LCLK     &mkp RCLK  &none  &none   &none
&none  &none   &none    &none   &bt BT_NXT  &bt BT_CLR    &none         &none         &none     &none  &none   &none
                                   &none         &none         &none         &none         &none
                                                 &none         &none         &none
            >;
       
            
        };

       Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK     &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &mo 4         &mkp LCLK  &mo 5         &mo 5       &mkp LCLK  &mo 4         &mkp RCLK     &trans        &bootloader
                                         &mo 5         &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                       &none      &trans        &trans
            >;

            
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
               
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
        };*/
    };
};
