#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        // 일반 키용 Hold-Tap (구버전 필수 label 추가)

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        // 마우스 클릭용 Hold-Tap (구버전 필수 label 추가)

        hm: hold_tap_mouse {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_MOUSE";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mkp>, <&mkp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        MAIN {
            bindings = <
&ht GRAVE ESC     &kp N1       &kp N2       &kp N3          &kp N4       &kp N5          &kp N6         &kp N7     &kp N8     &ht LEFT_BRACKET N9  &ht RIGHT_BRACKET N0  &ht EQUAL MINUS
&kp TAB           &kp Q        &kp W        &kp E           &kp R        &kp T           &kp Y          &kp U      &kp I      &kp O                &kp P                 &kp NON_US_BACKSLASH
&kp LEFT_CONTROL  &kp A        &kp S        &kp D           &lt 1 F      &kp G           &kp H          &lt 2 J    &kp K      &kp L                &kp SEMICOLON         &kp SQT
&kp LEFT_WIN      &ht LC(Z) Z  &ht LC(X) X  &ht LC(C) C     &ht LC(V) V  &kp B           &ht B N        &kp M      &kp COMMA  &kp PERIOD           &kp SLASH             &ht RIGHT_CONTROL RIGHT_ALT
                                            &kp LEFT_SHIFT  &kp ENTER    &kp LEFT_ALT    &kp BACKSPACE  &kp SPACE
                                                            &mkp MB1     &hm MB3 MB2     &kp DEL
            >;

        };

        FIFA {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7           &kp F8    &kp F9    &kp F10        &kp F11  &kp F12
&trans  &kp Q   &kp W   &kp E   &kp R   &none     &kp PRINTSCREEN  &kp HOME  &kp UP    &kp PAGE_UP    &none    &none
&trans  &kp A   &kp S   &kp D   &kp F   &none     &none            &kp LEFT  &kp DOWN  &kp RIGHT      &none    &none
&trans  &kp Z   &none   &kp C   &none   &none     &none            &kp END   &none     &kp PAGE_DOWN  &none    &trans
                        &trans  &trans  &trans    &trans           &trans
                                &trans  &trans    &trans
            >;

        };

        SETTING {
            bindings = <
&kp K_POWER  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR    &none  &none  &none  &none  &none  &none
&none        &none         &none         &none         &none         &none         &none  &none  &none  &none  &none  &none
&none        &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE    &none         &none         &none  &none  &none  &none  &none  &none
&none        &none         &none         &none         &none         &none         &none  &none  &none  &none  &none  &none
                                         &none         &none         &none         &none  &none
                                                       &none         &none         &none
            >;

        };
    };
};

&trackball_listener {
    // Main layer uses pointer movement by default.
    input-processors = <&zip_xy_scaler 3 2>;

    scroll_layers {
        layers = <1 2>;
        input-processors = <&zip_xy_to_scroll_mapper &zip_scroll_scaler 1 2>;
    };
};
